.title-post {
    text-align: center;
    font-size: 40px !important;
    font-weight: 700 !important;
    margin: 50px 0px !important;
}

.MuiDataGrid-cell {
    height: auto !important;
    overflow: unset !important;
    white-space: normal !important;
}

.MuiDataGrid-columnHeaderTitleContainerContent {
    margin: auto;
}

.content-comment {
    width: 500px;
    height: 100%;
}

.to-page {
    font-size: 30px !important;
    padding-top: 10px !important;
    text-decoration: underline !important;
}

.css-l4u8b9-MuiInputBase-root-MuiInput-root {
    width: 550px !important;
}