.text-search {
    font-size: 30px !important;
    font-weight: 600 !important;
    margin-left: 20px !important;
    color: #27a4f2 !important;
}

.grid-search {
    display: flex;
}

.input-search {
    width: 500px;
    border: 1px solid #27a4f2;
    margin-left: 20px !important;
}

.btn-search {
    border: 1px sloid green !important;
    color: #fff !important;
    background-color: green !important;
    margin-left: 20px !important;
}

.to-page {
    font-size: 30px !important;
    padding-top: 10px !important;
    text-decoration: underline !important;
}